<h1>
  <!-- Si la propiedad superHero esta llena muestra Actualizar sino el crear -->
  {{( heroe.superHero )? 'Actualizar' : 'Crear' }} Héroe: <small>{{ nombreHeroe }} </small>
</h1>

<form [formGroup]="agregarForm" autocomplete="off">
  <div fxLayout="row" fxLayoutGap="40px" fxLayout.xs="column">
    <div fxFlex="50" fxLayout="column">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
        <mat-form-field fxFlex="100">
          <mat-label>Super Heroé</mat-label>
          <input formControlName="superHero" type="text" matInput />
          <span class="txtError" *ngIf="campoNoValido('superHero')">
            Ingrese un nombre.
          </span>
        </mat-form-field>

        <mat-form-field fxFlex="100">
          <mat-label>Alter Ego</mat-label>
          <input formControlName="alterEgo" type="text" matInput />
          <span class="txtError" *ngIf="campoNoValido('alterEgo')">
            Ingrese el alter ego.
          </span>
        </mat-form-field>
      </div>

      <mat-form-field fxFlex="100">
        <mat-label>Primera aparicion</mat-label>
        <input formControlName="firstAppearance" type="text" matInput />
        <span class="txtError" *ngIf="campoNoValido('firstAppearance')">
          Ingrese la primera aparicion.
        </span>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Personajes</mat-label>
        <input formControlName="characters" type="text" matInput />
        <span class="txtError" *ngIf="campoNoValido('characters')">
          Ingrese personajes.
        </span>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Creador</mat-label>
        <mat-select formControlName="publisher">
          <mat-option *ngFor="let publisher of publishers" [value]="publisher.id">
            {{ publisher.desc }}
          </mat-option>
        </mat-select>
        <span class="txtError" *ngIf="campoNoValido('publisher')">
          Eliga una opcion.
        </span>
      </mat-form-field>

      <mat-form-field fxFlex="100">
        <mat-label>Foto Url</mat-label>
        <input formControlName="alt_img" type="url" [(ngModel)]="heroe.alt_img" matInput />
      </mat-form-field>

      <br />

      <div fxLayout>
        <button *ngIf="!heroe.superHero" mat-raised-button color="primary" (click)="guardarHeroe()">
          <mat-icon>edit</mat-icon>
          Crear
        </button>

        <button *ngIf="heroe.superHero" mat-raised-button color="primary" (click)="actualizarHeroe(heroe._id)">
          <mat-icon>edit</mat-icon>
          Actualizar
        </button>

        <span class="spacer"></span>
        <button *ngIf="heroe.superHero" (click)="eliminarHeroe(heroe._id)" mat-raised-button color="warn">
          <mat-icon>remove</mat-icon>
          Borrar
        </button>
      </div>
    </div>
    <div fxFlex="50">
      <img [src]="heroe | imagen">
    </div>
  </div>
</form>
<!-- 
<span> {{ heroe._id | json }}</span> -->

<!-- ESTADO DE FORMULARIO -->
<!-- <div class="row">
  <div class="col">
      <span>Valid</span>
      <pre>{{ agregarForm.valid }}</pre>

      <span>Pristine</span>
      <pre>{{ agregarForm.pristine }}</pre>

      <span>Touched</span>
      <pre>{{ agregarForm.touched }}</pre>

      <span>Value</span>
      <pre>{{ agregarForm.value | json }}</pre>

  </div>

</div> -->